# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [230]:
import pandas as pd
import numpy as np

In [231]:
from numpy.random import randn
np.random.seed(101)

In [232]:
df = pd.DataFrame(randn(4, 5), index = ['W', 'X', 'Y', 'Z'], columns=['A', 'B', 'C', 'D', 'E'])

In [233]:
df

          A         B         C         D         E
W  2.706850  0.628133  0.907969  0.503826  0.651118
X -0.319318 -0.848077  0.605965 -2.018168  0.740122
Y  0.528813 -0.589001  0.188695 -0.758872 -0.933237
Z  0.955057  0.190794  1.978757  2.605967  0.683509

In [234]:
# Another way:
df = pd.DataFrame(randn(5, 4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())

In [235]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [236]:
df['W']

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [237]:
# This will result in "KeyError", since this way for retrieving data can only specify the 'column' instead of 'index'.
df['A']

KeyError: 'A'

In [238]:
# Pass a list of column names
df[['W', 'Z']]

          W         Z
A  0.302665 -1.159119
B -0.134841  0.184502
C  0.807706  0.329646
D -0.497104  0.484752
E -0.116773  1.996652

In [239]:
# SQL Syntax (NOT RECOMMENDED!)
df.X

A    1.693723
B    0.390528
C    0.072960
D   -0.754070
E    1.901755
Name: X, dtype: float64

DataFrame Columns are just Series

In [240]:
type(df['W'])

pandas.core.series.Series

Creating a new column:

In [241]:
df['new'] = df['W'] + df['Y']

In [242]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

Removing Columns

In [243]:
# axis = 1 means "column"
df.drop('new', axis = 1)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [244]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [245]:
df.drop('new', axis = 1, inplace = True)

In [246]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

Can also drop rows this way:

In [247]:
# axis = 0 means "index"(row)
df.drop('E', axis = 0)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [248]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

Selecting Rows

In [249]:
df.loc['A']

W    0.302665
X    1.693723
Y   -1.706086
Z   -1.159119
Name: A, dtype: float64

Or select based off of position instead of label

In [250]:
df.iloc[1]

W   -0.134841
X    0.390528
Y    0.166905
Z    0.184502
Name: B, dtype: float64

Selecting subset of rows and columns

In [251]:
df.loc['B', 'Y']

0.16690463609281317

In [252]:
# [[index list],[column list]]
df.loc[['A', 'B'],['W', 'Z']]

          W         Z
A  0.302665 -1.159119
B -0.134841  0.184502

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [253]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [254]:
df > 0

       W      X      Y      Z
A   True   True  False  False
B  False   True   True   True
C   True   True   True   True
D  False  False  False   True
E  False   True   True   True

In [255]:
df[df > 0]

          W         X         Y         Z
A  0.302665  1.693723       NaN       NaN
B       NaN  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D       NaN       NaN       NaN  0.484752
E       NaN  1.901755  0.238127  1.996652

In [256]:
df[df['W'] > 0]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
C  0.807706  0.072960  0.638787  0.329646

In [257]:
df[df['W'] > 0]['Z']

A   -1.159119
C    0.329646
Name: Z, dtype: float64

In [258]:
df[df['W'] > 0][['X', 'Z']]

          X         Z
A  1.693723 -1.159119
C  0.072960  0.329646

In [259]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [260]:
df[(df['W'] >0.5) & (df['Y'] > 0.5)]

          W        X         Y         Z
C  0.807706  0.07296  0.638787  0.329646

In [261]:
df[(df['W'] < -0.49) | (df['Y'] < -1.6)]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
D -0.497104 -0.754070 -0.943406  0.484752

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [262]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [263]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A  0.302665  1.693723 -1.706086 -1.159119
1     B -0.134841  0.390528  0.166905  0.184502
2     C  0.807706  0.072960  0.638787  0.329646
3     D -0.497104 -0.754070 -0.943406  0.484752
4     E -0.116773  1.901755  0.238127  1.996652

In [264]:
newidx = "QQ BB RU MAO FU".split()

In [265]:
df['GG'] = newidx

In [266]:
df

          W         X         Y         Z   GG
A  0.302665  1.693723 -1.706086 -1.159119   QQ
B -0.134841  0.390528  0.166905  0.184502   BB
C  0.807706  0.072960  0.638787  0.329646   RU
D -0.497104 -0.754070 -0.943406  0.484752  MAO
E -0.116773  1.901755  0.238127  1.996652   FU

In [267]:
df.set_index(df['GG'])

            W         X         Y         Z   GG
GG
QQ   0.302665  1.693723 -1.706086 -1.159119   QQ
BB  -0.134841  0.390528  0.166905  0.184502   BB
RU   0.807706  0.072960  0.638787  0.329646   RU
MAO -0.497104 -0.754070 -0.943406  0.484752  MAO
FU  -0.116773  1.901755  0.238127  1.996652   FU

In [268]:
df

          W         X         Y         Z   GG
A  0.302665  1.693723 -1.706086 -1.159119   QQ
B -0.134841  0.390528  0.166905  0.184502   BB
C  0.807706  0.072960  0.638787  0.329646   RU
D -0.497104 -0.754070 -0.943406  0.484752  MAO
E -0.116773  1.901755  0.238127  1.996652   FU

In [269]:
df_prime = df.copy()

In [270]:
df_prime

          W         X         Y         Z   GG
A  0.302665  1.693723 -1.706086 -1.159119   QQ
B -0.134841  0.390528  0.166905  0.184502   BB
C  0.807706  0.072960  0.638787  0.329646   RU
D -0.497104 -0.754070 -0.943406  0.484752  MAO
E -0.116773  1.901755  0.238127  1.996652   FU

In [271]:
df_prime.set_index(df_prime['GG'], inplace = True)

In [272]:
df_prime

            W         X         Y         Z   GG
GG
QQ   0.302665  1.693723 -1.706086 -1.159119   QQ
BB  -0.134841  0.390528  0.166905  0.184502   BB
RU   0.807706  0.072960  0.638787  0.329646   RU
MAO -0.497104 -0.754070 -0.943406  0.484752  MAO
FU  -0.116773  1.901755  0.238127  1.996652   FU

In [273]:
df

          W         X         Y         Z   GG
A  0.302665  1.693723 -1.706086 -1.159119   QQ
B -0.134841  0.390528  0.166905  0.184502   BB
C  0.807706  0.072960  0.638787  0.329646   RU
D -0.497104 -0.754070 -0.943406  0.484752  MAO
E -0.116773  1.901755  0.238127  1.996652   FU

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [274]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [275]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [276]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [277]:
df = pd.DataFrame(np.random.randn(6, 2), index = hier_index, columns = ['A', 'B'])
df

             A         B
G1 1 -0.993263  0.196800
   2 -1.136645  0.000366
   3  1.025984 -0.156598
G2 1 -0.031579  0.649826
   2  2.154846 -0.610259
   3 -0.755325 -0.346419

In [278]:
df.loc['G1']

          A         B
1 -0.993263  0.196800
2 -1.136645  0.000366
3  1.025984 -0.156598

In [279]:
# [G2][1], this is zero-indexing
df.iloc[3]

A   -0.031579
B    0.649826
Name: (G2, 1), dtype: float64

In [280]:
# This is not zero-indexing
df.loc['G1'].loc[1]

A   -0.993263
B    0.196800
Name: 1, dtype: float64

In [289]:
# So this will result error.
df.loc['G2'].loc[0]

KeyError: 'the label [0] is not in the [index]'

In [282]:
df.index.names

FrozenList([None, None])

In [283]:
df.index.names = ['Group', 'Num']

In [284]:
df

                  A         B
Group Num
G1    1   -0.993263  0.196800
      2   -1.136645  0.000366
      3    1.025984 -0.156598
G2    1   -0.031579  0.649826
      2    2.154846 -0.610259
      3   -0.755325 -0.346419

In [292]:
# cross-section (row(s) or column(s))
df.xs('G1')
# This is equals to df.xs('G1', axis = 0)

            A         B
Num
1   -0.993263  0.196800
2   -1.136645  0.000366
3    1.025984 -0.156598

In [286]:
df.xs('A', axis = 1)

Group  Num
G1     1     -0.993263
       2     -1.136645
       3      1.025984
G2     1     -0.031579
       2      2.154846
       3     -0.755325
Name: A, dtype: float64

In [287]:
df.xs(['G1', 1])

A   -0.993263
B    0.196800
Name: (G1, 1), dtype: float64

In [296]:
# Means all the index = 2 of Num index
df.xs(2, level = 'Num')

              A         B
Group
G1    -1.136645  0.000366
G2     2.154846 -0.610259